<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Student Details</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>

<div ng-controller="StudentController">
    <h2>Student Details</h2>
    <input type="text" ng-model="search" placeholder="Search...">

    <table>
        <tr>
            <th ng-click="sortBy('enrolment')">Enrolment No.</th>
            <th ng-click="sortBy('name')">Name</th>
            <th ng-click="sortBy('semester')">Semester</th>
            <th ng-click="sortBy('branch')">Branch</th>
        </tr>

        <tr ng-repeat="student in students | filter:search | orderBy:sortColumn:reverseSort">
            <td>{{ student.enrolment }}</td>
            <td>{{ student.name }}</td>
            <td>{{ student.semester }}</td>
            <td>{{ student.branch }}</td>
        </tr>
    </table>
</div>

<script src="script.js"></script>

</body>
</html>   